.container {
    display: flex;
    justify-content: space-between;
}

.infoline {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.btnsection {
    display: flex;
    align-items: center;
}

.repo{
    max-width: 840px;
    min-width: 540px;
    margin-left: auto;
    margin-right: auto;
}