.search_bar {
    background-color:dimgrey;
    padding: 20px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.search_btn {
    background-color: blueviolet;
    color: red;
}