.SearchBar {
    position: sticky;
    top: 0;
    left: 0;
    background-color:rgb(39, 38, 37);
    padding: 10px;
    text-align: center;
}

.BasicSearch {
    display: grid;
    grid-template-columns: auto 100px;
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Input {
    font-family: 'Helvetica';
    color: aliceblue;
    background-color: rgb(77, 76, 76);
    border: solid;
    border-color:rgb(27, 78, 172);
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.Button {
    font-family: 'Helvetica';
    color: aliceblue;
    background-color: rgb(77, 76, 76);
    border: solid;
    border-color:rgb(27, 78, 172);
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.Advanced {
    display: grid;
    grid-template-columns: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.AdvancedOption {
    display: grid;
    grid-template-columns: 80px auto;
}

.AdvancedB {
    font-family: 'Helvetica';
    color:aliceblue;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Datalist{
    width: 120px;
}