.search_bar {
    padding: 10px;
    text-align: center;
}

.basic_search {
    display: grid;
    grid-template-columns: auto 100px;
    grid-column-gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.advanced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.advanced_input {
    font-family: 'Helvetica';
    color: aliceblue;
    background-color: var(--backgroundgrey);
    border: solid;
    border-color: var(--blue);
    border-radius: 8px;
    border-width: 2px;
    text-align: center;
    margin-left: 10px;
    min-height: 28px;
    font-size: 14px;
    margin-right: 110px;
}

.advanced_option {
    display: grid;
    grid-template-columns: 100px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.advanced_b {
    font-family: 'Helvetica';
    color:aliceblue;
    text-align: left;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.advanced_delimiter {
    font-family: 'Helvetica';
    color:aliceblue;
    text-justify: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

datalist {
    background-color: red;
}

option {
    background-color: blue;
}