.mainInfo {
    align-items: center;
    margin: 5px;
    margin-left: 15px;
}

.commit_container {
    max-width: 440px;
}

.info_container {
    max-width: 200px;
}

.infoline {
    display: flex;
    justify-content: space-between;
}