.ResultBarEven {
    justify-content: center;
    background-color: rgb(182, 179, 174);
    padding: 10px;
}

.ResultBarOdd {
    justify-content: center;
    background-color: rgb(250, 242, 229);
    padding: 10px;
}