.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.selected {
    background-color:var(--oddgrey);
}

.normal {
    background-color:var(--darkgrey);
}

.button {
    font-family: 'Helvetica';
    color: aliceblue;
    padding: 5px;
    border: solid;
    border-color:var(--blue);
    border-left-width: 0px;
    border-right-width: 0px;
}