.UserImage {
    width: 50px;
    height: 50px;
    border: solid;
    border-color: rgb(107, 107, 107);
    border-radius: 50%;
    margin: 10px;
}

.Link {
    font-family: 'Helvetica';
    color: azure;
    padding: 3px;
}

.TitleB {
    font-family: 'Helvetica';
    color:aliceblue;
    font-size: 30px;
    margin: 10px;
}

.ResultBarEven {
    color: aliceblue;
    justify-content: center;
    background-color: rgb(49, 48, 47);
    padding: 10px;
}

.ResultBarOdd {
    color: aliceblue;
    justify-content: center;
    background-color: rgb(39, 38, 37);
    padding: 10px;
}

.BasicElement {
    font-family: 'Helvetica';
    color: aliceblue;
    background-color: rgb(77, 76, 76);
    border: solid;
    border-color:rgb(27, 78, 172);
    border-radius: 8px;
    border-width: 2px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 24px;
}