.UserImage {
    width: 64px;
    height: 64px;
    border: solid;
    border-color: var(--backgroundgrey);
    border-radius: 50%;
    margin: 0px;
}

.Link {
    font-family: 'Helvetica';
    color: azure;
    padding: 10px;
}

.Logo {
    padding: 0px;
}

.Title {
    font-family: 'Helvetica';
    color:aliceblue;
    font-size: 30px;
    margin-left: 20px;
}

.TitleB {
    font-family: 'Helvetica';
    color:aliceblue;
    font-size: 30px;
    margin: 10px;
}

.plaintext {
    font-family: 'Helvetica';
    color:aliceblue;
    padding: 3px;
    margin: 4px;
    margin-left: 10px;
}

.resultBar {
    color: aliceblue;
    justify-content: center;
    padding: 16px;
}

.even {
    background-color: var(--evengrey);
}

.odd {
    background-color: var(--oddgrey);
}

.BasicElement {
    font-family: 'Helvetica';
    color: aliceblue;
    background-color: var(--backgroundgrey);
    border: solid;
    border-color: var(--blue);
    border-radius: 8px;
    border-width: 2px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 28px;
    font-size: 14px;
}

.Head {
    background-color: var(--darkgrey);
    position: sticky;
    top: 0;
    left: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AppLogo {
    display: flex;
    align-items: center;
}